body {
    margin: 0;
    background: rgb(93, 90, 148);
    background: linear-gradient(to bottom,
            #00005a 0%,
            #003366 50%,
            #006699 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: 10em repeat(5, 5rem);
    padding: 2.2em;
    background-color: rgb(60, 89, 63);
    border-radius: 1.5em;
    box-shadow: 8px 8px 0.3px 2px #000000a5;
}

.calculator>button {
    cursor: pointer;
    border: none;
    margin: 0.2em;
    padding: 0;
    font-weight: 900;
    font-size: 1.4em;
    border-radius: 1em;
    background-color: rgb(0, 40, 8);
    box-shadow: 5px 5px 10px -5px #00000093;
}

.calculator>button:active {
    background-color: rgba(174, 6, 6, 0.658);
}

.col-2 {
    grid-column: span 2;
}

.calculator .operator {
    background-color: #61001d;
    box-shadow: 5px 5px 10px -5px #00000093;
}

.calculator .operator:active {
    background-color: #34009c95;
}

.display {
    grid-column: 1 / -1;
    padding: 1em 1.5em;
    display: flex;
    margin: 0 0 1em 0;
    flex-direction: column;
    text-align: right;
    background-color: rgb(69, 23, 23);
    border-radius: 1em;
    justify-content: space-between;
    word-break: break-all;
    font-weight: 600;
    overflow: auto;
    box-shadow: 0px 0px 0px 5px #0000006c;
}

#previous-value {
    font-size: 1.9em;
}

#actual-value {
    font-size: 1.5em;
}